<ng-container *ngIf="isComposing;then composer; else create_btn"></ng-container>

<ng-template #composer>
  <div class="composer-wrapper">
    <input class="input-field" type="text" placeholder="..." #inputField autofocus>
    <div class="buttons-wrapper">
      <div class="clickable" (click)="onCancel()">Nevermind</div>
      <div class="clickable" (click)="onSave(inputField)">Spread it!</div>
    </div>
  </div>
</ng-template>

<ng-template #create_btn>
  <div class="create-btn-wrapper clickable">
    <span>>></span>
    <div id="create-btn" (click)="onCompose()">Spread a Word!</div>
    <span><<</span>
  </div>
</ng-template>


