.create-btn-wrapper {
  width: 100%;
  font-family: var(--font-type3);
  border-radius: 10px;
  background-color: #00000073;
  color: var(--palette-attention);
  font-size: 2rem;
  text-align: center;
}

.composer-wrapper {
  width: 100%;
  text-align: center;
  font-family: var(--font-type3);
  border-radius: 10px;
  background-color: #00000073;
}

.composer-wrapper .buttons-wrapper {
  display: flex;
  justify-content: space-around;
  color: var(--palette-attention);
  font-size: 2rem;
}

.input-field {
  width: 80%;
  font-family: var(--font-type3);
  font-size: 5vw;
  color: var(--palette-lessdark);
  background-color: #ffffff1c;
  text-align: center;
  border-style: none;
  margin-top: 10px;
}

#create-btn {
  display: inline-block;
  margin: 0 30px;
  transition: margin, 1s;
}

#create-btn:hover {
  margin: 0 5px;
}
