#logo-head {
  --margin: 20px;
  background: url("../../assets/img/streeword_logo.png") no-repeat center;
  background-size: contain;
  margin: var(--margin);
  height: calc(100% - 2 * (var(--margin)));
}
