<div id="map-wrapper">
  <agm-map
    id="map"
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="16"
    [minZoom]="15"
    [styles]="stylObject"
    [streetViewControl]="false"
    [zoomControl]="false"
  >
    <agm-marker *ngFor="let message of messages" (markerClick)="onSelectMessage(message)" [latitude]="message.latitude" [longitude]="message.longitude"></agm-marker>
  </agm-map>
  <div id="map-error-diplay"></div>
</div>

