#map-wrapper {
  --border: 5px;

  position: relative;
  width: calc(100% - 2 * var(--border));
  height: calc(100% - 2 * var(--border));
  overflow: hidden;
  border: var(--palette-dark) solid var(--border);
  margin: var(--margin);
}

#map-wrapper #map {
  width: 100%;
  height: 100%;
}

#map-wrapper #map-error-diplay {
  position: absolute;
  display: none;
  padding-top: 40%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  text-align: center;
  color: var(--palette-attention);
}
