#login-container {
  display: flex;
  color: var(--palette-totallydark);
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--palette-lessdark);
  border-color: var(--palette-lessdark);
  border-style: solid;
  border-radius: 5px;
  border-width: 10px;
  width: 40vw;
  height: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-type2);
}

#login-container p {
  font-weight: bold;
}

.fb-btn {
  background: url("../../assets/img/fb_login_btn.png") no-repeat center;
  background-size: contain;
  height: 50px
}
