<div id="login-container">
  <ng-container *ngIf="backendStatus;then login_content; else register_content"></ng-container>
</div>

<ng-template #login_content>
  <p>Log in to proceed</p>

  <ng-container *ngIf="isLoading;then loader; else login_btn"></ng-container>

  <ng-template #login_btn>
    <div id="fb-login-btn" class="fb-btn clickable" (click)="login()"></div>
  </ng-template>

  <ng-template #loader>
    <div id="loader"></div>
  </ng-template>

</ng-template>


<ng-template #register_content>
  <p>Please choose a username</p>
  <p>(Others will see this, and you can't change it!)</p>
  <input class="input-field" type="text" placeholder="username" #inputField autofocus>
  <div id="fb-register-btn" class="fb-btn clickable" (click)="register(inputField.value)"></div>
</ng-template>
