#messages-container {
  height: 100%;
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-rows: 40vw auto auto;
  grid-template-columns: 1fr;
}

app-messages-map {
  grid-row: 1/2;
}

app-message-create {
  grid-row: 3/4;
}

app-message-view {
  grid-row: 2/3;
}

@media screen and (min-width: 1000px) {

  #messages-container {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
  }

  app-messages-map {
    grid-row: 1/3;
  }

  app-message-create {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  app-message-view {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
