<div id="messages-container">
  <ng-container *ngIf="isLoading;then loader; else messages_content"></ng-container>

  <ng-template #messages_content>
    <app-messages-map [messages]="messages"></app-messages-map>
    <app-message-create></app-message-create>
    <app-message-view></app-message-view>
  </ng-template>

  <ng-template #loader>
    <div id="loader"></div>
  </ng-template>

</div>
