:root {
  --palette-totallydark: #30343F;
  --palette-dark: #5E636E;
  --palette-lessdark: #828A95;
  --palette-highlight: #F2CB2E;
  --palette-light: #FFE2D1;
  --palette-attention: #AE3232;

  --font-type1: 'Poor Story', cursive;
  --font-type2: 'Assistant', sans-serif;
  --font-type3: 'East Sea Dokdo', cursive;

  font-size: 27px;
}

.clickable:hover {
  cursor: pointer;
}

body {
  height: 90vh;
  background-color: var(--palette-totallydark);
  font-family: var(--font-type3);
  padding: 0;
  margin: 0;
  background-image: url("assets/img/bg_texture.png");
}

router-outlet {
  display: none;
}

#main-wrapper {
  height: 90vh;
  display: grid;
  grid-template-rows: 150px 1fr;
}

#logo-head {
  background: url("assets/img/streeword_logo.png") no-repeat center;
  background-size: contain;
  margin: 20px;
}

.vertically-centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loader {
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

#loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
