<div class="message-view" *ngIf="message" [style.display]="(message) ? 'grid' : 'none'">
  <div class="content">{{message.content}}</div>
  <div class="author">by<br><span class="username">{{message.author.username}}</span><br>{{message.creationDate | date:
    "medium"}}
  </div>
  <div class="upvotes">{{upVote}}</div>
  <div class="upvote-btn clickable" (click)="onUpVote()"></div>
  <div class="downvotes">{{downVote}}</div>
  <div class="downvote-btn clickable" (click)="onDownVote()"></div>
  <div class="background"></div>
</div>
