.message-view {
  width: calc(100% - 2 * var(--margin));
  height: calc(100% - 2 * var(--margin));
  display: grid;
  font-family: var(--font-type3);
  color: var(--palette-light);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 100px;
}

.content {
  grid-column: 1/5;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 10vw;
  text-align: center;
  color: var(--palette-lessdark);
  line-height: 1;
}

.author {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.author .username {
  color: var(--palette-lessdark);
}

.upvotes {
  grid-column: 1/3;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  color: var(--palette-lessdark);
}

.downvotes {
  grid-column: 3/5;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  color: var(--palette-lessdark);
}

.message-view .upvote-btn {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100px;
  height: 100%;
  background-image: url("../../../assets/img/upvote_btn.png");
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
}

.message-view .downvote-btn {
  grid-column: 3/5;
  grid-row: 4/5;
  width: 100px;
  height: 100%;
  background-image: url("../../../assets/img/downvote_btn.png");
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
}

.creation-date {
  grid-column: 2/4;
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
}

.background {
  grid-column: 1/5;
  grid-row: 1/3;
  background: var(--palette-totallydark);
  opacity: 0.7;
  z-index: -1;
}

@media screen and (min-width: 1000px) {
  .content {
    font-size: 5vw;
  }

}

